@import "~bootstrap/scss/bootstrap.scss";

.orange {
  color: #fd680e;
}

.table-bordered {
  font-size: 0.8em;
}

.desktop {
  display: table-row;
}

.desktop-cell {
  display: table-cell;
}


.mobile {
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 2) {
  html, body {
    font-size: 14pt;
  }

  .desktop {
    display: none;
  }

  .desktop-cell {
    display: none;
  }

  .mobile {
    display: table-row;
  }
}